body {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
p,
ul, li {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    border-bottom: 1px solid #ECECEC;
  }
}

@media screen and (min-width: 768px) {
  .navigation__container {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__container {
    justify-content: space-between;
  }
}

.navigation__container .navigation__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

@media screen and (min-width: 768px) {
  .navigation__wrap {
    display: flex;
    align-items: center;
  }
}

.navigation__web {
  padding: 24px 0;
  color: #2196F3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.navigation__studio {
  color: #212121;
}

.navigation__menu-btn {
  display: inline-flex;
  z-index: 1000;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .navigation__menu-btn {
    display: none;
  }
}
.navigation__menu-btn:hover, .navigation__menu-btn:focus {
  color: #2196F3;
}

.navigation__btn-close:hover, .navigation__btn-close:focus, .navigation__btn-menu:hover, .navigation__btn-menu:focus {
  fill: #2196F3;
}

.navigation__menu-btn .navigation__btn-menu {
  display: none;
}

.navigation__menu-btn.is-open .navigation__btn-menu {
  display: block;
}

.navigation__menu-btn.is-open .navigation__btn-close {
  display: none;
}

@media screen and (max-width: 767px) {
  .navigation__menu {
    opacity: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    transform: translateY(100%);
    left: 0;
    padding: 48px 40px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__menu.is-open {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 768px) {
  .navigation__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation__menu {
    padding-left: 88px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .navigation__list {
    padding-bottom: 300px;
  }
}

.navigation__links {
  list-style: none;
}
@media screen and (max-width: 767px) {
  .navigation__links {
    padding-left: 40px;
  }
  .navigation__links:not(:last-child) {
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__links {
    position: relative;
  }
  .navigation__links:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  text-decoration: none;
  color: var(--text-accent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link.current {
  color: #2196F3;
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196F3;
}
@media screen and (max-width: 767px) {
  .navigation__link {
    font-size: 40px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 4px;
    left: 453px;
    top: 76px;
    background: #2196F3;
    border-radius: 2px;
    left: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: 305px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    padding: 21px 0px;
  }
}

.contacts__tel {
  list-style: none;
  padding-left: 40px;
  padding-bottom: 32px;
}
@media screen and (min-width: 767px) {
  .contacts__tel {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contacts__tel-list {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
  }
}

.contacts__list {
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .contacts__list:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__list:not(:last-child) {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__list.hidden {
    display: none;
  }
}

.contacts__links {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__links:hover, .contacts__links:focus {
  color: #2196F3;
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .contacts__links {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .contacts__links {
    font-size: 24px;
    line-height: 1.16;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__links {
    padding: 32px 0;
  }
}

.contacts__icon {
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

.menu__links {
  display: flex;
  padding-left: 30px;
  padding-top: 64px;
  padding-bottom: 48px;
}
@media screen and (min-width: 767px) {
  .menu__links {
    display: none;
  }
}

.menu__links-list {
  list-style: none;
}
.menu__links-list:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.menu__link {
  text-decoration: none;
  color: #2196F3;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-left: 10px;
}

.hero {
  background: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
  align-items: center;
  padding-top: 118px;
  padding-bottom: 200px;
  width: 100%;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .hero {
    width: 100%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: inear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: inear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    height: 600px;
    max-width: 1600px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
  }
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .hero__title {
    display: block;
    width: 290px;
  }
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-family: "Roboto";
  font-style: normal;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background: #188CE8;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.form__label-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__textarea {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 16px;
  padding-top: 12px;
}
.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__label-terms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px;
  padding-left: 46px;
  width: 448px;
  height: 40px;
  margin-top: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border-color: #2196F3;
}

.form__input-label {
  position: absolute;
  left: 15px;
  bottom: 20%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__input-label, .form__input:focus + .form__input-label {
  fill: #2196F3;
}

.form__input-terms {
  appearance: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-right: 8px;
}

.form__input-terms:checked + .form__checkbox-icon {
  background-color: #188CE8;
  border: none;
  width: 16px;
  height: 16px;
}

.form__checkbox-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 7px;
}

.form__terms-link {
  color: #2196F3;
  padding-left: 5px;
}

.form__modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__modal-btn:hover, .form__modal-btn:focus {
  background-color: #188CE8;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 8px;
  top: 8px;
  cursor: pointer;
  padding: 0;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: #2196F3;
}

.features__hidden-text {
  display: none;
}

@media screen and (max-width: 1199px) {
  .features {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.features__head {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.features__icon-antenna, .features__icon-clock, .features__icon-diagram, .features__icon-astronaut {
  display: flex;
  margin: 25px auto;
}

.features__list {
  list-style: none;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  margin-bottom: 94px;
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .features__list {
    width: 100%;
    margin-bottom: 136px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    width: 354px;
    margin-bottom: 160px;
  }
  .features__list:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list:not(:last-child) {
    margin-right: 30px;
  }
}

.features__title {
  margin-bottom: 10px;
  padding-top: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  width: 270px;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
@media screen and (max-width: 767px) {
  .features__text {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__text {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */